[Desktop Entry]
Version=1.0
Type=Application
Name=Fájlok
Comment=Fájlkezelő
Exec=thunar
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
