[Desktop Entry]
Version=1.0
Type=Application
Name=Terminál
Comment=LollyOS terminál
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
