[Desktop Entry]
Version=1.0
Type=Application
Name=Webböngésző
Comment=Alapértelmezett webböngésző
Exec=exo-open --launch WebBrowser
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
